@charset "UTF-8";
/* Aquí definimos las Custom properties */
:root {
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana; }

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec; } }

/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important; } }

/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline; }

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center; }

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit; }

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline; }

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none; }

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth; }

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit; }

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco); }

::selection {
  background-color: var(--negro);
  color: var(--blanco); }

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0; }

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor; }

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale; }

/* Brand colors */
/* Text colors */
/* background colors */
@keyframes bienvenidaBanner {
  from {
    top: 0px; }
  to {
    top: 80px; } }

body {
  background-color: #f6f9fc;
  display: flex;
  align-items: center;
  justify-content: center; }

.formContainer {
  width: 700px;
  padding: 32px; }

label {
  color: #122e43; }

input {
  background-color: white;
  border: 1px solid #e3edf7;
  height: 56px;
  width: 100%;
  border-radius: 8px;
  color: #122e43;
  padding: 16px;
  transition: 0.2s ease-in-out;
  box-shadow: 0px 0px 0px 0px rgba(0, 162, 255, 0.2); }
  input::placeholder {
    color: #baccde; }
  input:hover {
    border: 1px solid #bfd4e8; }
  input[type=text]:focus {
    border: 1px solid #00A3FF;
    transition: 0.2s ease-in-out;
    box-shadow: 0px 0px 0px 3px rgba(0, 162, 255, 0.2); }
  input ::selection {
    border: 1px solid #00A3FF;
    transition: 0.2s ease-in-out;
    box-shadow: 0px 0px 0px 3px rgba(0, 162, 255, 0.2); }

button {
  background-color: #ff7a02;
  padding: 16px;
  border-radius: 8px;
  width: 20%; }

.contenedorMensaje {
  background-color: white;
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  color: #60809f;
  margin: 32px;
  border-radius: 16px;
  position: absolute;
  box-shadow: 0px 30px 20px -20px #d0e1f1; }

.containerInput {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  animation-name: bienvenidaBanner;
  animation-duration: 4s; }
